/* audiowide-regular - latin */
@font-face {
    font-family: 'Audiowide';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/audiowide-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/audiowide-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/audiowide-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/audiowide-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/audiowide-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/audiowide-v14-latin-regular.svg#Audiowide') format('svg'); /* Legacy iOS */
  }

$font-stack: Verdana, Arial, Helvetica, sans-serif;
$alt-font: 'Audiowide';
$primary-color: #ddd;
$secondary-color: #313638;
$accent-color: #fff;

h1, h2{
  line-height: 1.7;
}