@import 'config', 'navigation', 'layout', 'scrollbar', 'animation';


html{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
body{
    padding: 1em;
    background-color: $primary-color;
    color: $secondary-color;
    font-family: $font-stack;
    overflow-x: hidden;
    font-size: 100%;
}